@{
    ViewBag.Title = "Cart";
}

<div class="row">
    <h2><b>Cart</b></h2>
    <ul class="cd-cart-items"></ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
    </div>
    <!-- cd-cart-total -->
    <a class="btn btn-success" href="/order/CreateOrder">Złóż zamówienie</a>

</div>

<script>
    showCartData();
</script>