@model projekt_gosp.Models.Produkt

@{
    ViewBag.Title = "Szczegóły";

    if (Model.attachedImage == false)
    {
        Model.thumbPath = "/Media/no-image.jpg";
        Model.fullSizePath = "/Media/no-image.jpg";
    }
}

<center><div><h2>@Model.Nazwa</h2></div></center>
<a class="product-image-link" href="@Model.fullSizePath" data-lightbox="product-set"><img class="product-image thumbFix" src="@Model.thumbPath" alt="@Model.Nazwa" style="max-width: 300px;max-height:300px" /></a>


