@{
    ViewBag.Title = "Rules";
}


        <h1>Regulamin korzystania z Serwisu</h1>
        <h3>I. Informacje ogólne</h3>
        <p>
            Niniejszy Regulamin określa zasady dokonywania oraz realizacji zamówień towarów za pośrednictwem Serwisu dostępnego pod adresem WWW.<br />
            Przed skorzystaniem lub zarejestrowaniem się na stronie WWW należy uważnie przeczytać poniższy Regulamin. Jeżeli nie zgadzacie się Państwo z którymkolwiek postanowieniem Regulaminu, bądź z jego całością, uprzejmie prosimy o nie akceptowanie Regulaminu, nie rejestrowanie się w Serwisie oraz o nie korzystanie z Serwisu.<br />
            Każdy Użytkownik, po zaakceptowaniu treści Regulaminu, zobowiązany jest do jego przestrzegania.<br />
            Regulamin jest dostępny w każdym czasie za pośrednictwem Serwisu.<br />
            Regulamin jest zamieszczony w Serwisie w formie umożliwiającej wydruk.<br /><br />
            Użyte w Regulaminie pojęcia posiadają następujące znaczenie:<br /><br />
            <b>Serwis</b> – platforma internetowa, zlokalizowana pod adresem WWW; w Serwisie prezentowane są Towary Sprzedawcy oraz Ceny orientacyjne Towarów.<br /><br />
            <b>Zamówienie</b> – sporządzona i wysłana przez Zamawiającego, za pośrednictwem Serwisu, lista Towarów, które Zamawiający planuje zakupić od Sprzedawcy w Dniu Realizacji Zamówienia.<br /><br />
            <b>Sprzedawca</b> - podmiot zarządzający i prowadzący Serwis.<br /><br />
            <b>Zamawiający</b> – pełnoletnia osoba fizyczna, posiadająca co najmniej ograniczoną zdolność do czynności prawnych, osoba prawna lub jednostka organizacyjna nie posiadająca osobowości prawnej, która zarejestrowała się w Serwisie, zaakceptowała Regulamin i dokonuje Zamówienia.<br /><br />
            <b>Użytkownik</b> – każda osoba fizyczna korzystająca z Serwisu.<br /><br />
            <b>Towary</b> - towary prezentowane przez Sprzedawcę w Serwisie, które Zamawiający może wybrać celem sporządzenia i wysłania Zamówienia, a następnie je kupić po zaoferowaniu ich przez Sprzedawcę w Dniu Realizacji Zamówienia; Towary oraz Ceny orientacyjne prezentowane w Serwisie nie stanowią oferty w rozumieniu przepisów Kodeksu Cywilnego. Dokładne informacje na temat poszczególnych Towarów umieszczone są w Serwisie obok zdjęcia Towaru, które jest widoczne dla Zamawiającego podczas składania Zamówienia.<br /><br />
            <b>Cena orientacyjna</b> - oznacza orientacyjną cenę Towaru brutto, umieszczoną w Serwisie obok informacji o Towarze; ceny orientacyjne są wyrażone w złotych polskich i uwzględniają podatek VAT lecz nie uwzględniają Kosztów Realizacji Zamówienia lub Opłaty za Odbiór Osobisty Towaru; Ceny podane w Serwisie nie są cenami wiążącymi - są jedynie cenami orientacyjnymi; w Dniu Realizacji Zamówienia, ostateczna cena Towarów podana w Ofercie może się różnić od ich ceny orientacyjnej podanej w Serwisie w dniu składania Zamówienia i będzie stanowić cenę Towaru obowiązującą w Placówce w Dniu Realizacji Zamówienia.<br /><br />
            <b>Realizacja Zamówienia</b> - osobisty odbiór Towarów przez Zamawiającego w Placówce; przy Realizacji Zamówienia Sprzedawca zobowiązany jest dostarczyć Towar bez wad.<br /><br />
            <b>Dzień Realizacji Zamówienia</b> - wybrany przez Zamawiającego dzień, w którym Zamawiający dokona osobistego odbioru Zamówienia z Placówce; w Dniu Realizacji Zamówienia, jeśli Zamawiający przyjmie ofertę Sprzedawcy, następuje zawarcie umowy sprzedaży Towarów.<br /><br />
            <b>Opłata za Odbiór Osobisty</b> - dodatkowa opłata za możliwość osobistego odbioru Zamówienia w Placówce. Wysokość Opłaty za Odbiór Osobisty jest uwidoczniona w Serwisie po zalogowaniu i może być sprawdzona przed przystąpieniem do składania Zamówienia.<br /><br />
            <b>Placówka</b> - należy przez to rozumieć sklepy prowadzone przez Sprzedawcę , które Realizują Zamówienie.<br /><br />
            <b>Konto</b> - utworzone po rejestracji indywidualne konto Zamawiającego, za pomocą którego dokonuje Zamówień oraz zarządza danymi podanymi podczas procesu rejestracji.<br /><br />
            <b>Login</b> – nazwa konta podana przez Zamawiającego na etapie rejestracji w Serwisie; każdy Login posiada zweryfikowany podczas rejestracji adres e-mail do niego przypisany.<br /><br />
            <b>Dostawca</b> - osoba fizyczna zatrudniona przez Sprzedawcę i legitymująca się jego pełnomocnictwem, która będzie Realizowała Zamówienie oraz, jeśli Zamawiający przyjmie ofertę Sprzedawcy, będzie zawierała w imieniu Sprzedawcy umowę sprzedaży Towarów z Zamawiającym.<br /><br />
            <b>Oferta</b> - dokument przygotowany przez Sprzedającego oraz przedstawiany przez Dostawcę w miejscu i w dniu Realizacji Zamówienia, który obejmuje zamówione Towary, zaoferowane towary ekwiwalentne oraz ceny będące cenami ostatecznymi, po których Zamawiający może nabyć Towary oraz zaoferowane towary ekwiwalentne.<br />
</p>
        <h3>II. Serwis</h3>
        <p>
            Aby skorzystać z Serwisu niezbędne jest:<br /><br />
            szerokopasmowe łącze internetowe,<br />
            przeglądarka internetowa (Internet Explorer 8 i nowsze, Google Chrome 15 i nowsze, Mozilla Firefox 7 i nowsze, Opera 11 i nowsze) obsługująca CSS i JavaScript,<br />
            włączona obsługa plików cookies,<br />
            włączona obsługa okien wyskakujących (pop-up),<br />
            system operacyjny Microsoft Windows XP, 7 lub Vista i nowsze,<br />
            aktywne konto e-mail.<br /><br />
            Użytkownik powinien korzystać z Serwisu zgodnie z przeznaczeniem i powstrzymać się od wszelkiej działalności, która mogłaby zakłócić prawidłowe funkcjonowanie Serwisu<br /><br />
            Sprzedawca nie ponosi odpowiedzialności za:<br /><br />
            niekompatybilność Serwisu z końcowym sprzętem i oprogramowaniem Użytkownika lub z jego przyłączem do publicznej sieci Internet;<br />
            trudności techniczne, w tym błędy i niepowodzenia w łączeniu się z Serwisem, które leżą po stronie Użytkownika.<br />
</p>
        <h3>III. Proces rejestracyjny</h3>
        <p>            
            Realizacja Zamówienia jest ograniczona do określonego obszaru na terytorium miasta Wrocław.<br />
            Złożenie Zamówienia i późniejsze dokonanie zakupu Towarów możliwe jest po wypełnianiu przez Zamawiającego formularza rejestracyjnego. Przy wypełnianiu formularza rejestracyjnego należy podać prawidłowe i aktualne dane, które są niezbędne do realizacji Zamówienia tj.:<br />
            Login, adres e-mail, ustalenie hasła oraz potwierdzenie zapoznania się i akceptacji Regulaminu.<br />
            Czynności rejestracyjne dokonywane są jednorazowo, a kolejnych Zamówień można dokonywać logując się w Serwisie do swojego Konta poprzez podanie Loginu i ustalonego hasła.<br />
            Login i hasło mają charakter poufny. Zamawiający ponosi pełną odpowiedzialność za działania będące następstwem ujawnienia Loginu i hasła osobom trzecim.<br />
            W przypadku podjęcia przez Użytkownika bezprawnych działań godzących w funkcjonalność Serwisu, Sprzedawca skorzysta ze środków ochrony przewidzianych w obowiązujących przepisach prawa.<br />

        </p>
        <h3>IV. Proces składania Zamówień</h3>
        <p>
            Sprzedawca dokłada najwyższej staranności zawodowej, by Towary prezentowane w Serwisie były dostępne.<br />
            Jeśli Towary zamówione przez Zamawiającego będą niedostępne, w momencie Realizacji Zamówienia Sprzedawca, o ile jest to możliwe, zaoferuje towary ekwiwalentne, których charakter i cena będą zbliżone do Towarów zamówionych przez Zamawiającego.<br />
            Ceny podane w Serwisie są cenami orientacyjnymi. W momencie Realizacji Zamówienia, cena określonych Towarów może się różnić od ich ceny prezentowanej w Serwisie z powodu zmian cen produktów, drobnych różnic w wadze produktów ważonych, dostarczenia towarów ekwiwalentnych w miejsce brakujących produktów.<br />
            W ramach jednego Zamówienia Zamawiający ma możliwość zamówić maksymalnie:<br /><br />
            24 sztuki każdego Towaru (w przypadku sprzedaży na sztuki) albo<br />
            24 kilogramy każdego Towaru (w przypadku sprzedaży na wagę)<br /><br />
            Inną niż powyższe ilość lub wagę, jeśli Sprzedawca określi takową dla danego Towaru lub grupy Towarów.<br />
            Maksymalna ilość lub waga możliwa do zamówienia będzie każdorazowo uwidoczniona przy zamawianym Towarze jeśli zostanie osiągnięta lub przekroczona.<br />
            W przypadku zamawiania Towarów na wagę, Sprzedawca zastrzega sobie prawo do dostarczenia Towarów o wadze różnej od wagi wskazanej w Zamówieniu, przy czym różnica nie może być większa niż +/- 10%.<br />
            Jeśli, w przypadku Towarów, których cena jest określana zgodnie z wagą jednostkową i których istota na to pozwala, Zamawiający zamawia pewną ilość sztuk zamiast określonej wagi, Sprzedawca dostarczy zamówioną ilość sztuk. Cena zostanie wówczas określona zgodnie z wagą zamówionej ilości sztuk takich Towarów.<br />
            Zamawiający składa Zamówienie po zalogowaniu się na swoje Konto w Serwisie.<br />
            Zamawiający może składać zamówienia 24 h na dobę, w każdy dzień tygodnia, przy czym Zamawiający może to zrobić najpóźniej do godziny 23.30 dnia poprzedzającego Realizację Zamówienia.<br />
            Umowa sprzedaży Towarów między Sprzedawcą a Zamawiającym jest zawierana jedynie wówczas, gdy zamówione Towary zostały odebrane osobiście przez Zamawiającego z Placówki. Serwis jedynie umożliwia złożenie Zamówienia, a w następstwie odbioru osobistego lub dostawy po zaakceptowaniu Oferty Sprzedawcy, co do Towarów objętych Zamówieniem może dojść do zawarcia umowy sprzedaży.<br />

        </p>
        <h3>V. Punkty</h3>
        <p>
            Punkty mogą być zbierane  przez Zamawiających.<br />
            Zamawiający otrzyma X punktów za każde Y zł wydane podczas składania Zamówienia.<br />
        </p>
        <h3>VI. Ochrona danych osobowych</h3>
        <p>
            Zasady dotyczące przetwarzania danych osobowych zostały zawarte w dokumencie „Polityka prywatności“ stanowiącym integralną część nin. Regulaminu.<br />
        </p>
        <h3>VII. Realizacja Zamówienia</h3>
        <p>
            Sprzedawca zapewnia odbiór Towarów wyłącznie na obszarze swojej działalności.<br />
            Sprzedawca nie realizuje Zamówień w 13 dni ustawowo wolnych od pracy (oprócz niedziel). W przypadku wyznaczenia innych, niż określone w zdaniu poprzednim, dni nierealizowania Zamówień, Sprzedawca z odpowiednim wyprzedzeniem umieści o tym informację na stronach Serwisu.<br />
            W przypadku sprzedaży Towarów objętych promocją, których ilość jest ograniczona, Realizacja Zamówień uzależniona jest od kolejności ich wpłynięcia do Sprzedawcy, a Zamówienia realizowane są aż do wyczerpania zapasów danego Towaru objętego promocją.<br />
            Sprzedawca zastrzega sobie możliwość weryfikacji wieku osoby odbierającej Towar. Jeśli okaże się, że osoba ta ma mniej niż 18 lat i żadna inna osoba nie może odebrać Towarów, a gdy przedmiotem Zamówienia są wyroby tytoniowe, Sprzedawca odmawia wydania tych Towarów.<br />
            Sprzedawca dostarcza Towar wraz z Ofertą, paragonem fiskalnym, wzorem odstąpienia od umowy sprzedaży oraz wyciągiem z niniejszego Regulaminem.<br />
            W przypadku odbioru osobistego konieczne jest wybranie przez Zamawiającego w Serwisie dwugodzinnego przedziału czasowego, w którym Zamawiający zobowiązuje się odebrać zakupy.<br />
            Jeśli zakupy nie zostaną odebrane w wybranym przez Zamawiającego przedziale czasowym zamówienie zostanie anulowane.<br />
        </p>
        <h3>VIII. Postanowienia końcowe</h3>
        <p>
            We wszelkich sprawach nie uregulowanych w powyższym Regulaminie mają zastosowanie przepisy Kodeksu cywilnego, przepisy ustawy z dnia 30 maja 2014 r. o prawach konsumenta (Dz. U. z dnia 24 czerwca 2014 r.) oraz innych odpowiednich ustaw.<br />
            Wszelkie wątpliwości wynikające z interpretacji Regulaminu należy interpretować w sposób zapewniający zgodność Regulaminu z bezwzględnie obowiązującymi przepisami prawa.<br />
            Wszelkie spory wynikające z realizacji Zamówienia, w przypadku braku polubownego rozwiązania, będą rozpatrywane przez właściwy sąd powszechny określony według przepisów ustawy z dnia 17 listopada 1964 r. Kodeks postępowania cywilnego.<br />
            W razie sporu ze Sprzedawcą lub jakichkolwiek wątpliwości co do swoich praw, Zamawiający ma możliwości skorzystania z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń. Dostęp do pozasądowych procedur rozwiązywania sporów zapewniają np. stałe polubowne sądy konsumenckie działające w strukturach Inspekcji Handlowej. Zamawiający może również zwrócić się o pomoc prawną do Miejskiego/Powiatowego Rzecznika Konsumenta, Urzędu Ochrony Konkurencji i Konsumentów, oraz innych organizacji konsumenckich, takich jak Federacja Konsumentów, Stowarzyszenie Konsumentów Polskich oraz Europejskie Centrum Konsumenckie, na zasadach obowiązujących w tych organizacjach.<br />
            Sprzedawca zastrzega sobie prawo zmiany niniejszego Regulaminu. Zmiany nie mogą naruszać praw Zamawiającego wynikających z Zamówień złożonych przed wprowadzeniem zmiany. Zmiana Regulaminu wchodzi w życie w terminie 14 dni od opublikowania w Serwisie. Sprzedawca poinformuje Zamawiającego o zmianie Regulaminu za pomocą wiadomości przesłanej drogą elektroniczną zawierającej odnośnik do tekstu zmienionego Regulaminu.<br />
        </p>
        <h3>IX. Kontakt</h3>
        <p>
            W przypadku jakichkolwiek pytań, wątpliwości, opinii i uwag prosimy o kontakt poprzez e-mail: projektzig@gmail.com<br />
        </p>
</header>
 



