<form action="/adminpanel/addCategory/" method="post">
    <input type="text" name="name" value="" class="form-control" placeholder="Nazwa kategorii" />
    <button class="btn btn-success">Dodaj kategorię</button>
    <a class="btn btn-success" href="/adminpanel/">Wróć do panelu admina</a>
</form>

<h4>@ViewBag.msg</h4>

